<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- cfg dependent class -->
<bean id="dtdc" class="com.nt.comp.DTDC"/>
<bean id="dhl" class="com.nt.comp.DHL"/>
<bean id="bl" class="com.nt.comp.BlueDart"/>

<!-- cfg Target clasd  -->
<bean id="fpkt" class="com.nt.comp.Flipkart">
     <property name="Courier" ref="dtdc"/>
     </bean>
     </beans>
     